<form method="POST" action="/index">
  <h1>Create a Team and Heroes!</h1>
  <h2>Team</h2>
  <label for="team_name">Name</label><br>
  <input type="text" id="team_name" name="team[name]"><br>
  <label for="team_motto">Motto</label><br>
  <input type="text" id="team_motto" name="team[motto]"><br><br>

  <h2>Super Hero(es)</h2>
    <label for="hero_name_1">Name</label><br>
    <input type="text" id="hero_name_1" name="team[super_heroes][][name]"><br>
    <label for="hero_power_1">Power</label><br>
    <input type="text" id="hero_power_1" name="team[super_heroes][][power]"><br>
    <label for="hero_bio_1">Bio</label><br>
    <input type="text" id="hero_bio_1" name="team[super_heroes][][bio]"><br>
    
  

</form>
